{% extends "base.html" %}

{% block head %}
<link href="//cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
{% endblock %}

{% block content %}

<h1 id='banner-title'>Named Email Sender</h1>
<form method='POST' action='/' id='form-wrapper' enctype="multipart/form-data">
    
    <div class='form-group'>
        <div class='file-wrapper'>
            <div id='name-wrapper'>
                <label for='names'>Names CSV</label>
                <input class='form-control' type='file' name='names' required>
            </div>
            <div id='attachment-wrapper'>
                <label for="attachments">Attachments</label>
                <input class='form-control' type='file' name='attachments' multiple>
            </div>
        </div>
    </div>
    <br>
    <div class='form-group'>
        <label for="subject" style='color: green;'>Subject</label>
        <input class='form-control' type='text' name='subject'>
    </div>

    <div class='form-group'>
        <label for="message" style='color: green;'>Message</label>
        <br>
        <small>Use /NAME/ where you want each recipient's name to go (in the subject line too!)</small>
        <div id='editor'></div>
    </div>
    <hr>
    <div class='form-group' id='send-button'>
        <button class='btn btn-primary btn-block' type='submit'>Send!</button>
    </div>
</form>
{% endblock %}

{% block scripts %}
<script src="//cdn.quilljs.com/1.3.6/quill.js"></script>
<script src="//cdn.quilljs.com/1.3.6/quill.min.js"></script>
<script>
    var quill = new Quill('#editor', {
      theme: 'snow'
    });
</script>
{% endblock %}